.slider{
    transition: 500ms;
    margin: 0 auto;
    width: 700px;
    height: 350px;
    position: relative;
}

.left{
    position: absolute;
    top:50%;
}

.right{
    position: absolute;
    left:91.7%;
    top:50%;
}

.slider__items {
    counter-reset: slide;
  }

  .image {
    display: none;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 0;
  }

  .block{
    display: block;
  }
  